palavras = ["python", "hub"]

matriz = """u l i o a
e a p b e
a r y l s
j i t u a
e e h u b
e u o r r
c t n e p
b i o s b"""


linhas = [linha.replace(" ", "") for linha in matriz.split("\n")]
print(linhas)  # ['ulioa', 'eapbe', 'aryls', ...]


colunas = ["".join(coluna) for coluna in zip(*linhas)]
print(colunas)  # ['ueajeecb', 'larieuti', 'ipythono' ...]


letras_a_mostrar = set()


for palavra in palavras:
    for y, linha in enumerate(linhas):
        if palavra in linha:
            comeco_palavra = linha.find(palavra)
            fim_palavra = linha.find(palavra) + len(palavra)
            for x in range(comeco_palavra, fim_palavra):
                letras_a_mostrar.add((x, y))

    for x, coluna in enumerate(colunas):
        if palavra in coluna:
            comeco_palavra = coluna.find(palavra)
            fim_palavra = coluna.find(palavra) + len(palavra)
            for y in range(comeco_palavra, fim_palavra):
                letras_a_mostrar.add((x, y))

print(letras_a_mostrar)  # {(2, 6), (4, 4), (2, 1), ... ]

for y in range(len(linhas)):
    for x in range(len(linhas[y])):
        if (x, y) in letras_a_mostrar:
            print(linhas[y][x] + " ", end="")
        else:
            print(". ", end="")
    print("")
